
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../photo/branch note 1.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e6c4d;
    position: relative;
}

.logo-container {
    position: relative;
}

.header .logo {
    width: 150px;
}

.header .logout {
    background-color: #415543;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.header .logout:hover {
    background-color: #208b62;
}

#back-button {
    position: absolute;
    top: 160px; 
    left: 80px; 
    cursor: pointer;
    z-index: 1;
}

#back-button .back-button-img {
    width: 70px; 
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    min-height: 100vh; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.evaluation-title {
    width: 400px; 
    margin-bottom: 20px;
}

.evaluation-form {
    display: flex;
    flex-direction: column;
    background-color: #2e6c4d;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

label {
    margin-top: 5px; 
    text-align: left;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #005b2e;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

.btn:hover {
    background-color: #208b62;
}
