* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../photo/pleinsARBRES-V1.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2e6c4d;
}

header .logo {
    width: 150px;
}

header nav {
    margin-left: auto; 
}

.logout {
    background-color: #415543;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout:hover {
    background-color: #208b62;
}

#back-button {
    position: absolute;
    top: 160px;
    left: 80px;
    cursor: pointer;
}

#back-button .back-button-img {
    width: 50px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 60px;
}

.form-container {
    background-color: #2e6c4d;
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px; 
    margin-top: 20px;
}

.form-container label {
    color: white;
    font-size: 23px;
    margin: 5px 0;
}

.form-container input {
    width: 100%; 
    padding: 15px;
    margin: 5px 0 15px;
    border: none; 
    background-color: white; 
    border-radius: 5px; 
    box-shadow: none;
    font-size: 20px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-btn {
    background-color: #415543;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-btn:hover {
    background-color: #208b62;
}
