* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', "Times New Roman";
    background: url('photo/pleinsARBRES-V1.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 50px;
}

.header p {
    font-size: 24px;
    color: #094728;
    margin-top: 10px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 457px); /* Adjust based on header height */
}

.login-box {
    background-color: rgba(46, 108, 77, 0.5); /* Semi-transparent background */
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}




